<!DOCTYPE html>
<html>
  <head>
    <%- include("partials/head") %>
  </head>

  <body>
    <%- include("partials/header") %>

    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>

    <button><a href="/movies">Películas</a></button>
    <button><a href="/genres">Géneros</a></button>
    <button><a href="/series">Series</a></button>
  </body>
</html>
