<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>

  <body>
    <%- include('../partials/header') %>

    <h1>Listado de Series</h1>
    <button><a href="/series/add">Agregar nueva serie</a></button>
    <ul>
      <% for( let i=0; i < series.length; i++ ) { %>
      <li>
        <a href="/series/<%= series[i].id %>"> <%= series[i].title %> </a>
      </li>
      <% } %>
    </ul>
  </body>
</html>
